:root {
  --vermelho: #e50914;
  --preta: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* base */
body {
  background-color: var(--preta);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  color: var(--vermelho);
  font-family: "Arial Black", Times;
  font-size: 40px;
}

header nav a {
  text-decoration: none;
  color: #aaa;
  margin-right: 10px;
}
header nav a:hover {
  color: #fff;
}

/* filme principal */
.filme-principal {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url("../img/breaking-bad-capa.jpg");
  height: 400px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.filme-principal .descricao {
  margin-top: 10px;
  margin-bottom: 40px;
}
.filme-principal .titulo {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 15%;
}

.filme-principal .botao {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  text-transform: uppercase;
  padding: 15px 30px;
  margin-right: 15px;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.filme-principal .botao:hover {
  background-color: white;
  color: black;
}
.filme-principal .botao i {
  margin-right: 8px;
}

.container {
  margin-left: 15px;
  margin-right: 15px;
}

.filme-principal .container {
  width: 70%;
}

.box-filme {
  width: 100%;
  height: 100%;
  display: block;
}

.carrosel-filmes {
  margin-top: 5px;
}
